

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;900&family=Roboto+Slab:wght@100;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family:"poppins", sans-serif;
}
/* ----- navbar ----- */
header {
    width: 80%;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10% ;
}
header a {
    color: #000000;
    font-size: 34px; 
    display: flex;
    align-items: center;
    padding: 20px 0;
}
header img {
    max-width: 80px;
    padding-bottom: 15px;
}

nav ul {
    list-style: none;
    display: flex;
}
ul li{
    width: 9rem;
    display: flex;
    justify-content:space-evenly ;
}

nav a {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
/* ----- welcome hero ----- */
.welcome_hero{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 10px;
    margin: 2% 10%;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
}
.container img{
    position: relative;
    bottom: 50px;
    width: 25em;
    height: auto;
    bottom: 70px;
}
.container_text{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
.container_text h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

.container_text p {
    font-size: clamp(10px , 4.5vw,18px) ;
    margin-bottom: 20px;
}

.container_text button {
    background-color: #0078d4;
    color: #fff;
    width: 150px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container_text button:hover {
    background-color: #de40a6;
    color: #000;
}
.learn_more{
    position: relative;
    bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.learn_more img{
    width: 20px;
}
/* ----- more ----- */
.more{
    width: 80%;
    margin: 0 10%
}
.container_more{
    display: flex;
    flex-direction: column;
}
.container_more_1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.container_more_1_text{
    width: 40%;
    line-height: 30px;
}
.container_more_1_text h2{
    margin-bottom: 20px;
}
.container_more_1 img{
    position: relative;
    align-items: center;
    padding: 40px;
}
.container_more_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.container_more_2_text{
    width: 40%;
    line-height: 30px;
}
.container_more_2_text h2{
    margin-bottom: 20px;

}
.container_more_2 img{
    position: relative;
    padding: 40px;
}
/* ----- downlaod app ----- */
.App{
    width: 100%;
    height: 45vh;
    background-color: #000;
    padding: 0 12%;
}
.container_App{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.container_App_small{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.container_App_small .QR{
    width: 100%;
    padding: 1rem 5rem;
}
.container_App_small .QR img{
    width: 16%;
}
.container_App_small .install_button{
   width: 60%;
}
 .install_button img{
    width: 25%;
    padding: 0 0.8rem;
}
/* -----partners----- */
.partners{
    width: 100%;
    height: 20vh;
    /* padding: 0 10%; */
}
.container_partners{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container_partners img{
    width: 15%;
    padding: 0 2rem;
}
/* ----- Footer ----- */
footer{
    background-color: #BBC0C5;
    padding: 0 10%;
}
footer .heading_footer{
    display: flex;
    padding: 0 1rem;
}
.heading_footer a{
    color: #000000;
    font-size: 34px; 
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.heading_footer img{
    max-width: 80px;
    padding-bottom: 15px;
}
.footer_content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.footer_content h4{
    color: #004AAD;
    margin-bottom: 20px;
}
.content_informaations hr {
    color: #000000;
}
.content_learn_more{
    /* width: 20%; */
}
.content_learn_more a{
    color: #000;
}
.content_learn_more_list{
    /* position: relative; */
    margin-top: 2rem;
}
.content_learn_more_list ul{
    display: flex;
}
.copyright {
    /* position: relative; */
    margin-top: 3.5rem;
}
.content_informations{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.content_informations .link{
    display: flex;
    gap: 1em;
    padding: 0.5rem;
}
.link a{
    color: #000;
}
.content_informations_links img{
    width: 1.5rem;
}
.sociale{
    display: flex;
    justify-content: space-evenly;
}
.sociale img{
    width: 3em;
    padding: 0.3rem 0.5rem;
}
.contact_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_form input{
    background: transparent;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0.7rem 0;
}
.contact_form input:focus{
    outline: none !important;
}

.contact_form .message{
    height: 5rem;
}

.contact_form img{
    width: 2rem;
}
/* -------------------------------------------------

----------------------------------------------------*/